<br>
<a href="#!/" class="btn btn-outline-secondary">Voltar</a>
<br>

<div class="alert alert-danger" ng-show="mensagem.texto">
    {{mensagem.texto}}
</div>

<br>

<div class="alert alert-info" ng-show="servicos.length" role="alert">
    Serviços cadastrados: {{servicos.length}}
</div>

<div class="alert alert-info" ng-hide="servicos.length" role="alert">
    Não há serviços cadastrados!
</div>

<input type="search" class="form-control" ng-model="filtro" placeholder="Pesquisar">

<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>SERVIÇO</th>
            <th>PROFISSIONAL</th>
        </tr>

        <tr ng-repeat="servico in servicos | filter:filtro">
            <td>{{servico.nomeServico}}</td>
            <td><a ng-href="#!/profissionais/{{servico.idPessoa}}">{{ servico.nomePessoa }}</a></td>
        </tr>
    </table>
</div>
