<br>
<h1 class="text-center">{{profissional.nome}}</h1>

<div class="alert alert-info" ng-show="mensagem.texto">
    {{ mensagem.texto }}
</div>

<form>

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" readonly id="nome" name="nome" ng-model="profissional.nome">
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" readonly name="email" ng-model="profissional.email" aria-label="Email" aria-describedby="basic-addon1">
    </div>

    <div>
        <a href="#!/" class="btn btn-outline-secondary">Voltar</a>
    </div>
</form>