<br>
<a href="#!/" class="btn btn-outline-secondary">Voltar</a>
<br>

<div class="alert alert-danger" ng-show="mensagem.texto">
    {{mensagem.texto}}
</div>

<br>

<div class="alert alert-info" ng-show="usuarios.length" role="alert">
    Profissionais cadastrados: {{usuarios.length}}
</div>

<div class="alert alert-info" ng-hide="usuarios.length" role="alert">
    Não há profissionais cadastrados!
</div>

<input type="search" class="form-control" ng-model="filtro" placeholder="Pesquisar">

<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>NOME</th>
            <th>EMAIL</th>
        </tr>

        <tr ng-repeat="usuario in usuarios | filter:filtro">
            <td><a ng-href="#!/profissionais/{{usuario._id}}">{{usuario.nome}}</a></td>
            <td>{{ usuario.contato.email }}</td>
        </tr>
    </table>
</div>